*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
mat-toolbar{
    width: 40%;
    font-size: 32px;
    margin-left: 400px;
    margin-top: 50px;
}
mat-toolbar mat-icon{
    margin-left: 150px;
    font-weight: 800;
    font-size: 32px;
    line-height:10px;
}
mat-card{
    width: 40%;
    height: 50%;
    font-size: 20px;
    margin-left: 400px;
 }
 form{
     text-align: center;
     
 }
 
 
.a{
    margin-left: 200px;
    text-decoration: none;
}
.footer{
    margin-top: 0px;
    color: black;
}
@media screen and (max-width: 768px){
    mat-toolbar{
        width: 100%;
        font-size: 32px;
        margin-left: 0px;
        margin-top: 50px;
    }
    mat-toolbar mat-icon{
        margin-left: 100px;
        font-weight: 800;
        font-size: 32px;
        line-height:10px;
    }
    mat-card{
        width: 100%;
        font-size: 20px;
        margin-left: 0px;
     }
     form{
         text-align: center;
     }
     
     
    .a{
        margin-left: 0px;
        text-decoration: none;
    }
    .footer{
        color: rgb(255, 255, 255);
        margin-top: 0px;
    }
}